.event-page,
.event-page * {
  box-sizing: border-box;
}
.event-page {
  background: var(--colors-basic-white, #ffffff);
  height: 1024px;
  position: relative;
}

/* header */
.header {
  background: var(--colors-blue-sky-blue, #4285f4);
  padding: 28px 80px 28px 80px;
  width: 1440px;
  height: 106px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.header-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1281px;
  position: absolute;
  left: 80px;
  top: 17px;
}
.search-bar {
  background: var(--colors-basic-white, #ffffff);
  border-radius: var(--numbers-multipe-4-48, 48px);
  flex-shrink: 0;
  width: 632px;
  height: var(--numbers-multipe-4-48, 48px);
  position: relative;
}
.serch-text {
  color: var(--colors-blue-sky-blue, #4285f4);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: var(--numbers-multipe-4-16, 16px);
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 47px;
  top: 13px;
  width: var(--numbers-multipe-4-88, 88px);
}
.search-icon {
  width: 3.48%;
  height: 22px;
  position: absolute;
  right: 93.83%;
  left: 2.69%;
  top: 50%;
  translate: 0 -50%;
  overflow: visible;
  aspect-ratio: 1;
}
.header-logo {
  flex-shrink: 0;
  width: 236px;
  height: var(--numbers-multipe-4-72, 72px);
  position: relative;
}
.logo-text {
  width: var(--numbers-multipe-4-164, 164px);
  height: 57px;
  position: absolute;
  left: 0px;
  top: 8px;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 25%));
  object-fit: cover;
}
.hlogo-icon {
  width: 30.51%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 69.49%;
  bottom: 0%;
  top: 0%;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 25%));
  object-fit: cover;
}


/* lateral */
.lateral {
  padding: var(--numbers-multipe-4-28, 28px) var(--numbers-multipe-4-12, 12px)
    var(--numbers-multipe-4-28, 28px) var(--numbers-multipe-4-12, 12px);
  display: flex;
  flex-direction: column;
  gap: var(--numbers-multipe-4-40, 40px);
  align-items: center;
  justify-content: flex-start;
  width: var(--numbers-multipe-4-80, 80px);
  position: absolute;
  left: 0px;
  top: 108px;
  overflow: hidden;
}
.home-button {
  flex-shrink: 0;
  width: var(--numbers-multipe-4-56, 56px);
  height: var(--numbers-multipe-4-56, 56px);
  filter: drop-shadow(0px 0px 2px rgb(133, 133, 133));
  position: relative;
  overflow: visible;
}
.home-button:hover {
  flex-shrink: 0;
  width: var(--numbers-multipe-4-56, 56px);
  height: var(--numbers-multipe-4-56, 56px);
  filter: drop-shadow(0px 0px 3px rgb(102, 102, 102));
  position: relative;
  overflow: visible;
}
.games-button {
  flex-shrink: 0;
  width: var(--numbers-multipe-4-56, 56px);
  height: var(--numbers-multipe-4-56, 56px);
  filter: drop-shadow(0px 0px 2px rgb(133, 133, 133));
  position: relative;
  overflow: visible;
}
.games-button:hover {
  flex-shrink: 0;
  width: var(--numbers-multipe-4-56, 56px);
  height: var(--numbers-multipe-4-56, 56px);
  filter: drop-shadow(0px 0px 3px rgb(102, 102, 102));
  position: relative;
  overflow: visible;
}
.tickects-button {
  flex-shrink: 0;
  width: var(--numbers-multipe-4-56, 56px);
  height: var(--numbers-multipe-4-56, 56px);
  filter: drop-shadow(0px 0px 2px rgb(133, 133, 133));
  position: relative;
  overflow: visible;
}
.tickects-button:hover {
  flex-shrink: 0;
  width: var(--numbers-multipe-4-56, 56px);
  height: var(--numbers-multipe-4-56, 56px);
  filter: drop-shadow(0px 0px 3px rgb(102, 102, 102));
  position: relative;
  overflow: visible;
}
.contactus-button {
  flex-shrink: 0;
  width: var(--numbers-multipe-4-56, 56px);
  height: var(--numbers-multipe-4-56, 56px);
  filter: drop-shadow(0px 0px 2px rgb(133, 133, 133));
  position: relative;
  overflow: visible;
}
.contactus-button:hover {
  flex-shrink: 0;
  width: var(--numbers-multipe-4-56, 56px);
  height: var(--numbers-multipe-4-56, 56px);
  filter: drop-shadow(0px 0px 3px rgb(102, 102, 102));
  position: relative;
  overflow: visible;
}
.contactus-icon {
  width: var(--numbers-multipe-4-48, 48px);
  height: var(--numbers-multipe-4-48, 48px);
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}

/* hero*/
.hero {
  background: var(--colors-basic-dark-white, #e5e5e5);
  width: 1360px;
  height: 702px;
  position: absolute;
  left: 80px;
  top: 106px;
  overflow: hidden;
}
.event-info {
  border-radius: var(--numbers-multipe-4-8, 8px);
  width: 1280px;
  height: 654px;
  position: absolute;
  left: 1320px;
  top: 24px;
  box-shadow: var(
    --ticketsshadow-box-shadow,
    4px 4px 8px 0px rgba(0, 0, 0, 0.25)
  );
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  overflow: hidden;
}
.etext-box {
  background: var(--colors-basic-light-grey, #a5a5a5);
  width: 626px;
  height: 654px;
  position: absolute;
  left: 654px;
  top: 0px;
  overflow: hidden;
}
.etext {
  color: var(--colors-basic-black, #000000);
  text-align: justified;
  font-family: "Roboto-Light", sans-serif;
  font-size: var(--numbers-multipe-4-20, 20px);
  font-weight: 300;
  position: absolute;
  left: 602px;
  top: 222px;
  width: 577px;
  height: 209px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.event-image {
  width: 654px;
  height: 654px;
  position: absolute;
  left: 654px;
  top: 0px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  overflow: hidden;
  object-fit: cover;
}

/* footer */
.footer {
  background: var(--colors-basic-dark-grey, #505050);
  width: 1440px;
  height: var(--numbers-multipe-4-216, 216px);
  position: absolute;
  left: 0px;
  top: 808px;
}
.upper-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
  position: absolute;
  left: 80px;
  top: 28px;
}
.upper-left {
  display: flex;
  flex-direction: column;
  gap: var(--numbers-multipe-4-12, 12px);
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 308px;
  position: relative;
}
.popularlinks-box {
  padding: 4px 0px 4px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.popularlinks-text {
  color: var(--colors-basic-white, #ffffff);
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: var(--numbers-multipe-4-16, 16px);
  line-height: 110%;
  font-weight: 700;
  position: relative;
  width: var(--numbers-multipe-4-108, 108px);
  height: var(--numbers-multipe-4-12, 12px);
}
.linked-pages {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: var(--numbers-multipe-4-284, 284px);
  position: relative;
}
.first-paragraph {
  display: flex;
  flex-direction: row;
  gap: var(--numbers-multipe-4-20, 20px);
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 165px;
  position: relative;
}
.home-box {
  flex-shrink: 0;
  width: var(--numbers-multipe-4-72, 72px);
  height: var(--numbers-multipe-4-20, 20px);
  position: relative;
}
.home-text {
  color: var(--colors-basic-white, #ffffff);
  text-align: left;
  font-family: "Roboto-Light", sans-serif;
  font-size: var(--numbers-multipe-4-16, 16px);
  line-height: 100%;
  font-weight: 500;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 0px;
  width: var(--numbers-multipe-4-72, 72px);
  height: var(--numbers-multipe-4-20, 20px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home-text:hover {
  color: var(--colors-basic-white, #4285F4);
  text-align: left;
  font-family: "Roboto-Light", sans-serif;
  font-size: var(--numbers-multipe-4-16, 16px);
  line-height: 100%;
  font-weight: 500;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 0px;
  width: var(--numbers-multipe-4-72, 72px);
  height: var(--numbers-multipe-4-20, 20px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.calendar-box {
  flex-shrink: 0;
  width: var(--numbers-multipe-4-72, 72px);
  height: var(--numbers-multipe-4-20, 20px);
  position: relative;
}
.calendar-text {
  color: var(--colors-basic-white, #ffffff);
  text-align: center;
  font-family: "Roboto-Light", sans-serif;
  font-size: var(--numbers-multipe-4-16, 16px);
  line-height: 100%;
  font-weight: 500;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 0px;
  width: var(--numbers-multipe-4-92, 92px);
  height: var(--numbers-multipe-4-20, 20px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar-text:hover {
  color: var(--colors-basic-white, #4285F4);
  text-align: center;
  font-family: "Roboto-Light", sans-serif;
  font-size: var(--numbers-multipe-4-16, 16px);
  line-height: 100%;
  font-weight: 500;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 0px;
  width: var(--numbers-multipe-4-92, 92px);
  height: var(--numbers-multipe-4-20, 20px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.second-paragraph {
  display: flex;
  flex-direction: row;
  gap: var(--numbers-multipe-4-20, 20px);
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.tickets-box {
  flex-shrink: 0;
  width: var(--numbers-multipe-4-72, 72px);
  height: var(--numbers-multipe-4-20, 20px);
  position: relative;
}
.tickets-text {
  color: var(--colors-basic-white, #ffffff);
  text-align: left;
  font-family: "Roboto-Light", sans-serif;
  font-size: var(--numbers-multipe-4-16, 16px);
  line-height: 100%;
  font-weight: 500;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 0px;
  width: var(--numbers-multipe-4-72, 72px);
  height: var(--numbers-multipe-4-20, 20px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.tickets-text:hover {
  color: var(--colors-basic-white, #4285F4);
  text-align: left;
  font-family: "Roboto-Light", sans-serif;
  font-size: var(--numbers-multipe-4-16, 16px);
  line-height: 100%;
  font-weight: 500;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 0px;
  width: var(--numbers-multipe-4-72, 72px);
  height: var(--numbers-multipe-4-20, 20px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.faq-box {
  flex-shrink: 0;
  width: var(--numbers-multipe-4-72, 72px);
  height: var(--numbers-multipe-4-20, 20px);
  position: relative;
}
.faq-text {
  color: var(--colors-basic-white, #ffffff);
  text-align: center;
  font-family: "Roboto-Light", sans-serif;
  font-size: var(--numbers-multipe-4-16, 16px);
  line-height: 100%;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 45px);
  top: 0px;
  width: var(--numbers-multipe-4-92, 92px);
  height: var(--numbers-multipe-4-20, 20px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.faq-text:hover {
  color: var(--colors-basic-white, #4285F4);
  text-align: center;
  font-family: "Roboto-Light", sans-serif;
  font-size: var(--numbers-multipe-4-16, 16px);
  line-height: 100%;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 45px);
  top: 0px;
  width: var(--numbers-multipe-4-92, 92px);
  height: var(--numbers-multipe-4-20, 20px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactus-box {
  flex-shrink: 0;
  width: var(--numbers-multipe-4-76, 76px);
  height: var(--numbers-multipe-4-20, 20px);
  position: relative;
}
.contactus-text {
  color: var(--colors-basic-white, #ffffff);
  text-align: center;
  font-family: "Roboto-Light", sans-serif;
  font-size: var(--numbers-multipe-4-16, 16px);
  line-height: 100%;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 47px);
  top: 0px;
  width: var(--numbers-multipe-4-92, 92px);
  height: var(--numbers-multipe-4-20, 20px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactus-text:hover {
  color: var(--colors-basic-white, #4285F4);
  text-align: center;
  font-family: "Roboto-Light", sans-serif;
  font-size: var(--numbers-multipe-4-16, 16px);
  line-height: 100%;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 47px);
  top: 0px;
  width: var(--numbers-multipe-4-92, 92px);
  height: var(--numbers-multipe-4-20, 20px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-logo {
  flex-shrink: 0;
  width: 195px;
  height: 60px;
  position: relative;
}
.flogo-icon {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 135.5px;
  top: 0px;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 50%));
  object-fit: cover;
  aspect-ratio: 1;
}
.flogo-text {
  width: 135px;
  height: var(--numbers-multipe-4-48, 48px);
  position: absolute;
  left: 0.5px;
  top: 6px;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 50%));
  object-fit: cover;
}
.upper-right {
  flex-shrink: 0;
  width: 308px;
  height: var(--numbers-multipe-4-80, 80px);
  position: relative;
}
.app-menu {
  display: flex;
  flex-direction: row;
  gap: var(--numbers-multipe-4-8, 8px);
  align-items: center;
  justify-content: flex-start;
  width: var(--numbers-multipe-4-264, 264px);
  position: absolute;
  left: 44px;
  top: 0px;
}
.apple-app {
  background: var(--colors-basic-black, #000000);
  border-radius: var(--numbers-multipe-4-8, 8px);
  border-style: solid;
  border-color: var(--colors-basic-mid-grey, #c0c0c0);
  border-width: 1px;
  flex-shrink: 0;
  width: var(--numbers-multipe-4-120, 120px);
  height: var(--numbers-multipe-4-40, 40px);
  position: relative;
}
.apple-app:hover {
  background: var(--colors-basic-black, #000000);
  border-radius: var(--numbers-multipe-4-8, 8px);
  border-style: solid;
  border-color: var(--colors-basic-mid-grey, #c0c0c0);
  border-width: 1px;
  flex-shrink: 0;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 50%));
  width: var(--numbers-multipe-4-120, 120px);
  height: var(--numbers-multipe-4-40, 40px);
  position: relative;
}
.apple-down-text {
  color: var(--colors-basic-white, #ffffff);
  text-align: left;
  font-family: "SfPro-Medium", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  position: absolute;
  left: 33px;
  top: 17px;
  width: var(--numbers-multipe-4-80, 80px);
  height: var(--numbers-multipe-4-16, 16px);
}
.apple-up-text {
  color: var(--colors-basic-white, #ffffff);
  text-align: left;
  font-family: "SfPro-Medium", sans-serif;
  font-size: 8px;
  line-height: 140%;
  letter-spacing: 0.05em;
  font-weight: 500;
  position: absolute;
  left: 34px;
  top: 6px;
  width: var(--numbers-multipe-4-72, 72px);
  height: var(--numbers-multipe-4-8, 8px);
}
.apple-icon {
  width: 14.75%;
  height: 52.51%;
  position: absolute;
  right: 77.75%;
  left: 7.5%;
  bottom: 24.99%;
  top: 22.5%;
  overflow: visible;
}
.android-app {
  box-sizing: border-box;
}
.android-app {
  background: var(--colors-basic-black, #000000);
  border-radius: var(--numbers-multipe-4-4, 4px);
  border-style: solid;
  border-color: var(--colors-basic-mid-grey, #c0c0c0);
  border-width: 1px;
  padding: 6px 10px 6px 10px;
  display: flex;
  flex-direction: row;
  gap: var(--numbers-multipe-4-8, 8px);
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 40px;
  position: relative;
}
.android-app:hover {
  background: var(--colors-basic-black, #000000);
  border-radius: var(--numbers-multipe-4-4, 4px);
  border-style: solid;
  border-color: var(--colors-basic-mid-grey, #c0c0c0);
  border-width: 1px;
  padding: 6px 10px 6px 10px;
  display: flex;
  flex-direction: row;
  gap: var(--numbers-multipe-4-8, 8px);
  align-items: center;
  justify-content: flex-start;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 50%));
  flex-shrink: 0;
  height: 40px;
  position: relative;
}
.android-icon {
  flex-shrink: 0;
  width: 23px;
  height: 25.95px;
  position: relative;
  overflow: visible;
}
.android-text {
  display: flex;
  flex-direction: column;
  gap: var(--numbers-multipe-4-4, 4px);
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 84px;
  position: relative;
}
.android-up-text {
  color: var(--colors-basic-white, #ffffff);
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: var(--numbers-multipe-4-8, 8px);
  font-weight: 400;
  position: relative;
  width: 40px;
  height: 6px;
  -webkit-text-stroke: 0.20000000298023224px var(--colors-basic-white, #ffffff);
}
.android-d-text {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 16px;
  position: relative;
  overflow: visible;
}
.social-networks {
  display: flex;
  flex-direction: row;
  gap: var(--numbers-multipe-4-20, 20px);
  align-items: center;
  justify-content: flex-end;
  width: var(--numbers-multipe-4-200, 200px);
  position: absolute;
  left: 108px;
  top: calc(50% - -16px);
}
.youtube-button {
  flex-shrink: 0;
  width: var(--numbers-multipe-4-24, 24px);
  height: var(--numbers-multipe-4-24, 24px);
  position: relative;
  overflow: visible;
}
.facebook-button {
  flex-shrink: 0;
  width: var(--numbers-multipe-4-24, 24px);
  height: var(--numbers-multipe-4-24, 24px);
  position: relative;
  overflow: visible;
}
.twitter-button {
  flex-shrink: 0;
  width: var(--numbers-multipe-4-24, 24px);
  height: var(--numbers-multipe-4-24, 24px);
  position: relative;
  overflow: visible;
}
.instagram-button {
  flex-shrink: 0;
  width: var(--numbers-multipe-4-24, 24px);
  height: var(--numbers-multipe-4-24, 24px);
  position: relative;
  overflow: visible;
}
.linkin-button {
  flex-shrink: 0;
  width: var(--numbers-multipe-4-24, 24px);
  height: var(--numbers-multipe-4-24, 24px);
  position: relative;
  overflow: visible;
}
.divider {
  margin-top: -1px;
  border-style: solid;
  border-color: var(--colors-basic-white, #ffffff);
  border-width: 1px 0 0 0;
  width: 1280px;
  height: 0px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 136px;
}
.lower-footer {
  padding: var(--numbers-multipe-4-4, 4px) 0px var(--numbers-multipe-4-4, 4px)
    0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: calc(50% - -52px);
}
.copyright-box {
  flex-shrink: 0;
  font-family: 'Roboto';
  width: var(--numbers-multipe-4-342, 342px);
  height: var(--numbers-multipe-4-24, 24px);
  position: relative;
}
.copyright-text {
  color: var(--colors-basic-white, #ffffff);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 7px;
}
.bottom-right {
  display: flex;
  font-family: "Roboto-Bold";
  flex-direction: row;
  gap: var(--numbers-multipe-4-16, 16px);
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  width: var(--numbers-multipe-4-280, 280px);
  position: relative;
}
.privacy-box {
  flex-shrink: 0;
  width: var(--numbers-multipe-4-92, 92px);
  height: var(--numbers-multipe-4-16, 16px);
  position: relative;
}
.privacy-text {
  color: var(--colors-basic-mid-grey, #c0c0c0);
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 14px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 2px;
  top: 50%;
  translate: 0 -50%;
  width: var(--numbers-multipe-4-92, 92px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.privacy-text:hover {
  color: var(--colors-basic-mid-grey, #ffffff);
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 14px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 2px;
  top: 50%;
  translate: 0 -50%;
  width: var(--numbers-multipe-4-92, 92px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.accessibility-box {
  flex-shrink: 0;
  width: 90px;
  height: var(--numbers-multipe-4-16, 16px);
  position: relative;
}
.accessibility-text {
  color: var(--colors-basic-mid-grey, #c0c0c0);
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 14px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: 50%;
  translate: 0 -50%;
  width: var(--numbers-multipe-4-92, 92px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.accessibility-text:hover {
  color: var(--colors-basic-mid-grey, #ffffff);
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 14px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: 50%;
  translate: 0 -50%;
  width: var(--numbers-multipe-4-92, 92px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.terms-box {
  flex-shrink: 0;
  width: 66px;
  height: var(--numbers-multipe-4-16, 16px);
  position: relative;
}
.terms-text {
  color: var(--colors-basic-mid-grey, #c0c0c0);
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 14px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 1px;
  top: 50%;
  translate: 0 -50%;
  width: var(--numbers-multipe-4-92, 92px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.terms-text:hover {
  color: var(--colors-basic-mid-grey, #ffffff);
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 14px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 1px;
  top: 50%;
  translate: 0 -50%;
  width: var(--numbers-multipe-4-92, 92px);
  display: flex;
  align-items: center;
  justify-content: center;
}